<a href="https://colab.research.google.com/github/Rafael2253/CLASE-5-INEXADO./blob/main/CLASE_5_INEXADO.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Indexado de colecciones.

Los siguientes tipos de colecciones permiten identificar a uno o a un rango de elementos mediante un índice.


*   str.
*   bytes.
*   bytearray.
*   list.
*   tuple.
*   dict.



Dependiendo del tipo de colección, el índice puede ser un número entero, un rango numérico o una clave. El índice se denota delimitándolo entre corchetes [ ] y colocándolo a la derecha del objeto del cual se extraerá el o los elemento.

La sintaxis es la siguiente:

```
<colección>[<número entero, clave o rango>]
```

## Indexado numérico.

Los tipos con indexado numérico identifican a cada elemento que contienen mediante un número entero de 2 formas:

índices no negativos: En los que el primer elemento del extremo izquierdo tiene el índice 0, el elemento a su derecha tiene el índice 1 y así sucesivamente en incrementos de uno en uno hasta llegar al elemento del extremo derecho.
Índices negativos: En los que el primer elemento del extremo derecho tiene el índice -1, el elemento a su izquierda tiene el índice -2 y así sucesivamente en decrementos de uno en uno hasta llegar al elemento del extremo izquierdo.
Este tipo de indexado es propio de los tipos:



```
str.
bytes.
bytearray.
list.
tuple.

```




Si el índice sobrepasa el tamaño del objeto, se desencadenará un error de tipo **IndexError**.

**Ejemplos:**

La siguiente celda obtendrá el caracter **"l"** del objeto **"Mercurio"**, cuyo índice corresponde al índice 2.

In [ ]:
"Mercurio"[-1]

'o'

In [ ]:
"Corazon"[-1]

'n'

In [ ]:
"Tugsteno"[-5]

's'

La siguiente celda obtendrá el número 108, a partir del objeto b'saludo'. Dicho número corresponde al valor del caracter l en la tabla de código ASCII. El índice corresponde al índice -4.

In [ ]:
b"Mercurio"[-1]

111

La siguiente celda pide un índice fuera de rango y desecadenará un error de tipo IndexError.

In [ ]:
"Tugsteno"[9]

IndexError: string index out of range

In [ ]:
"Corazon"[-11]

IndexError: string index out of range

La siguientes celdas ejemplificarán el uso del indexado numérico en objetos tipo list al que se le asignará el nombre lista.

In [ ]:
lista = [7, 3, 22, 32]; type(lista)

list

La siguiente celda regresará al objeto 2 cuyo índice es 2.

In [ ]:
lista[2]

22

La siguiente celda regresará al objeto 1 cuyo índice es -4.

In [ ]:
lista[-4]

7

La siguientes celdas ejemplifican el uso del indexado numérico en objetos tipo tuple al que se le asignará el nombre tupla.

In [ ]:
tupla = (7, [22, True, None, "Mercurio"], 6, 32.5)

La siguientes celda regresará al objeto 4, el cual corresponde al índice 0 del objeto tupla.

In [ ]:
tupla[1][0]

22

La siguientes celda regresará al objeto[22, True, None, "Mercurio"], el cual corresponde al índice -3 del objeto tupla.

In [ ]:
tupla[-3]

[22, True, None, 'Mercurio']

La siguientes celdas ejemplifican el uso del indexado numérico en objetos tipo **bytearray** al que se le asignará el nombre arreglo creado a partir de b"Mercurio".

In [ ]:
tupla[-3][0]

22

In [ ]:
arreglo = bytearray(b"Mercurio")

La siguiente celda obtendrá el número 99, a partir del objeto arreglo. Dicho número corresponde al valor del caracter u en la tabla de código ASCII, correspondiente al índice 3.

In [ ]:
arreglo[3]

99

## **Indexado mediante la clave en los objetos de tipo dict.**


Los objetos de tipo ***dict*** no cuentan con índices numéricos. En su defecto, es posible obtener un valor mediante su clave correspondiente.

`<objeto dict>[<clave>]`

Si la clave que se ingresa no existe, se desencadenará un error de tipo **KeyError**.

**Ejemplo:**

La siguiente celda definirá al objeto Planeta, el cual contiene las claves:


*   "Nombre".
*   "Tamaño".
*   "Temperatura".
*   True.

In [ ]:
Planeta = {"Nombre": "Neptuno", "Tamaño": "49,244 kilómetros", "Temperatura": "−214 °C", True:'V'}

La siguiente celda regresará el objeto "−214 °C" correspondiente a la clave "Temperatura" del objeto Planeta.

In [ ]:
Planeta["Temperatura"]

'−214 °C'

La siguiente celda regresará el objeto "Neptuno" correspondiente a la clave "Nombre" del objeto Planeta.

In [ ]:
Planeta["Nombre"]

'Neptuno'

La siguiente celda regresará el objeto 'V' correspondiente a la clave True del objeto Planeta.

In [ ]:
Planeta[True]

La siguiente celda hace referencia a la clave "Indefinido", la cual no existe en el objeto persona lo que desencdenará unn error de tipo KeyError.

In [ ]:
Planeta[Indefinido]

NameError: name 'Indefinido' is not defined

## Indíces anidados.

En el caso de que un elemento seleccionado dentro de una colección indexables también sea una colección indexable, es posible realizar una indexación anidada colocando el índice a la derecha del índice superior.

`<colección>[<índice 1>][<índice 2>]...[<índice n>]`


**Ejemplos:**

A continuación se definirá a un objeto de tipo ***tuple*** con el nombre tupla el cual contiene a un elemento de tipo ***list*** en el índice 1, el cual a su vez contiene a un elemento de tipo ***str*** en su índice 3.

In [ ]:
tupla = (7, [22, True, None, "Mercurio"], 6, 32.5)

La siguiente celda regresará al objeto `[22, True, None, "Mercurio"]` a partir de `tupla[1]`.

In [ ]:
tupla[1]

[22, True, None, 'Mercurio']

La siguiente celda regresará al objeto ***"Mercurio"*** a partir de `tupla[1][3].`

In [ ]:
tupla[1][3]

'Mercurio'

La siguiente celda regresará al cracter ***"r"*** a partir de `tupla[1][3][2].`

In [ ]:
tupla[1][3][2]

'r'

A continuación se definirá al objeto de tipo dict con el nombre Planeta.

In [ ]:
Planeta = {"Nombre": "Neptuno", "Tamaño": "49,244 kilómetros", "Temperatura": "−214 °C"}

La siguiente celda obtendrá al objeto **"49,244 kilómetros"** a partir de `Planeta["Tamaño"]`.

In [ ]:
Planeta["Tamaño"]

'49,244 kilómetros'

La siguiente celda obtendrá al caracter **"t"** a partir de persona `["Tamaño"][-4]`.

In [ ]:
Planeta["Tamaño"][-4]

't'

## Indexado de elementos por rangos numéricos.

Las colecciones con índices numéricos como tuple, list, str, bytearray y bytes permiten indexar rangos de elementos con la siguiente sintaxis.

`<colección>[<m>:<n>:<i>]`

**Donde:**


*   <m> es el índice inicial.
*   <n> es el índice final.
*   <i> es un número entero que indica los incrementos (si es positivo) o decrementos (si es negativo).

El resultado será un nuevo objeto del mismo tipo que el original incluyendo los elementos comprendidos entre el índice inicial y uno antes que el índice final en los incrementos o decrementos indicados. A esto se le conoce como **"rebanado"**.

Si no se indica un número de incremento/decremento, el número será igual a 1.
En caso de que se indiquen incrementos:
El índice inicial debe de ser menor que el índice final.
Si no se indica un índice inicial, el rango empieza desde el índice 0.
Si no se indica un índice final, el rango termina con el último elemento contenido.
En caso de que se indiquen decrementos:
El índice inicial debe de ser mayor que el índice final.
Si no se indica un índice inicial, el rango empieza desde el índice del último elemento contenido.
Si no se indica un índice final, el rango termina en el primer elemento.
Si no se indica ningún índice y sólo se colocan los dos puntos :, se hará un rebanado completo del objeto.
Los índices pueden ser superiores al tamaño de la colección.
Si el rango no tiene sentido, se regresará una colección vacía.

**Ejemplos:**

Para ilustrar el uso del rebanado se creara el objeto lista de tipo ***list***.

In [ ]:
lista = [10, 11, 22, 33, 44, 55, 66, 77, 88]

La siguiente celda regresará un objeto tipo list con los elementos con índices que van de 0 a antes de 6 en incrementos de 2.

In [ ]:
lista[::-1]

[88, 77, 66, 55, 44, 33, 22, 11, 10]

La siguiente celda regresará un objeto tipo list con los elementos con índices que van de 6 a antes de 0 en decrementos de -2.

In [ ]:
lista[6:0:-2]

[66, 44, 22]

La siguiente celda regresará un objeto tipo list vacío en vista de que el rango no tiene sentido.

In [ ]:
lista[0:6:-2]

[]

La siguiente celda regresará un objeto tipo list con los elementos con índices 22 a 44

In [ ]:
lista[2:5]

[22, 33, 44]

La siguiente celda regresará un objeto tipo list con el elemento con índice 8, en vista de que ese el último elemento del objeto lista.

In [ ]:
lista[5:25]

[55, 66, 77, 88]

La siguiente celda regresará un objeto tipo list con los elementos con índices -2 y -1.

In [ ]:
lista[-3:20]

[66, 77, 88]

Las siguientes celdas indican rangos impropios y regresan un objeto list vacío.

In [ ]:
lista[-2:32:-11]

[]

In [ ]:
lista[5:23:-1]

[]

La siguiente celda traerá los caracteres que van del inicio a uno antes de índice 8 en incremementos de 3 a partir del objeto "Metamorfosis".

In [ ]:
"Metamorfosis"[0:8:3]

'Mar'

La siguiente celda traerá los caracteres que van del final a uno antes de índice 3 en decremementos de -1 a partir del objeto "Metamorfosis".

In [ ]:
"Metamorfosis"[:3:-1]

'sisofrom'

La siguiente celda realizará un rebanado completo de un objeto tipo tuple.

In [ ]:
(10,11,22,33,44,55)[:]

(0, 1, 2, 3, 4, 5)

La siguiente celda realizará un rebanado completo de un objeto de tipo tuple, pero en sentido inverso.

In [ ]:
(10,11,22,33,44,55)[::-1]

(55, 44, 33, 22, 11, 10)

A continuación se hará un rebanado completo del objeto lista el cual regresará un objetos nuevo al que se le asignará el nombre nueva_lista

In [ ]:
nueva_lista = lista[:]

Los objetos lista y nueva_lista comparten el contenido, pero son objetos distintos.

In [ ]:
nueva_lista

[10, 11, 22, 33, 44, 55, 66, 77, 88]

In [ ]:
id(lista)

132394013428992

In [ ]:
id(nueva_lista)

132394016843776